{% extends 'base.html' %}

{% load static %}


{% block title %}
	Изменение пароля
{% endblock %}

{% block links %}
	<link rel="stylesheet" href="{% static 'accounts/profile.css' %}">


{% endblock %}
{{ user.username }}
{% block content %}

	<div class="container">
		<h1>Данные пользователя</h1>

		<form action="{% url 'edit-password' user.username%}" method="post">
			{% csrf_token %}
			{% if errors %}
				<div class="text-danger">
					{% for error in errors %}
						{{ error }}
					{% endfor %}
				</div>
			{% endif %}

			<div class="mb-3">
				<label for="inputOldPassword" class="form-label">Введите старый пароль</label>
				<input name="old_password" type="password" class="form-control" id="inputOldPassword">
			</div>

			<div class="mb-3">
				<label for="inputNewPassword" class="form-label">Введите новый пароль</label>
				<input name="new_password" class="form-control" type="password" id="inputNewPassword">
			</div>

			<!-- Блок кнопки -->
			<button type="submit" class="btn btn-outline-primary">Применить изменения</button>
			<a class="btn btn-outline-primary" href="{% url 'profile' user.username %}">Отмена</a>
		</form>

	</div>

{% endblock %}