{% extends 'base.html' %}

{% load static %}


{% block title %}
	Создание заметки
{% endblock %}

{% block links %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/forms.css' %}">
	<script src="{% static 'js/EditImage.js' %}"></script>


	{#	для работы django-select2#}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script>$(document).ready(function () {
        $('#id_tags').select2();
    });</script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
	{#	для работы django-select2#}


{% endblock %}

{% block content %}

	<div class="container">
		<h1>Создание заметки</h1>

		<form action="{% url 'create-note' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}

			{{ form.as_p }}
			<br>
			<button type="submit" class="btn btn-outline-primary">Отправить</button>

		</form>
	</div>



{% endblock %}