{% extends 'base.html' %}

{% load static %}


{% block title %}
	Создание заметки
{% endblock %}

{% block links %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/forms.css' %}">
	<script src="{% static 'js/EditImage.js' %}"></script>


{% endblock %}

{% block content %}

	<div class="container">
		<h1>Создание заметки</h1>

		<form action="{% url 'create-note' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}

			{{ form.as_p }}
			<br>
			<button type="submit" class="btn btn-outline-primary">Отправить</button>

		</form>
	</div>



{% endblock %}